```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
pip-log.txt
pipenv.lock

# Coverage
.coverage
htmlcov/
.coverage.*
```